@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td,span{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
img{vertical-align:top; border:none;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
li{list-style-type:none;}
html{width:100%;min-width:1200px;}
body{width:100%;min-width:1200px;font:12px/1.5 "Microsoft YaHei","Helvetica Neue","Hiragino Sans GB",arial,helvetica,sans-serif;color:#333333;line-height: 1;}
textarea{resize:none;}
textarea,input{font-family:"Microsoft YaHei","Helvetica Neue","Hiragino Sans GB",arial,helvetica,sans-serif;font:12px/1.5;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none; padding:0;}
input::-ms-clear{display:none;}
a:focus, *:focus{noFocusLine: expression(this.onFocus=this.blur());}
.clear{clear: both;}
a, object{outline:none;}
a{cursor:pointer;color:#333;}
a:link{text-decoration:none;}
ul, li, ol{list-style: none outside none;}
li{vertical-align:top;}
li{vertical-align:bottom;}
html{_background-attachment: fixed;}
:focus{outline: 0;}
input, button{border: 0; outline: none; background: none; filter: chroma(color=#000000);}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #bdbcbc;}
i, em, b{font-style: normal;}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder{color: #999; font-family: 微软雅黑, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1; font-size: 12px;}
::selection{background: #f20e0e; color: #fff;}
::-moz-selection{background: #f20e0e; color: #fff;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table td{word-break: break-all; word-wrap: break-word;}
input{font-family: 微软雅黑, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1; font-size: 12px;}
a, a *{text-decoration: none; outline: none; star: expression(this.onFocus=this.blur());}
.clearfix{clear: both; zoom: 1;}
.clearfix:after{content: ''; display: block; clear: both;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
img{max-width: 100%; border: 0; outline: none; vertical-align: middle;}
.one-txt-cut{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.txt-cut{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; /* -webkit-line-clamp: 2; */ -webkit-box-orient: vertical;}
/*reset end*/


/*blockbox*/
body{background:#F7F9FC;color:#41475D;}
.publicblock{width:1200px;margin:0 auto;clear: both; zoom: 1;}
.publicblock:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.publicblock{*+height:1%;}
.oe{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sjx{width: 0;height: 0;border-width: 40px;border-style: solid;border-color: red transparent transparent transparent;}
.hover:hover{-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.04);box-shadow: inset 0 0 38px rgba(0,0,0,.04);-webkit-transition: all .15s ease;transition: all .15s ease}

/*banner*/
.banner{height:640px;width:100%;background:#000;overflow:hidden;position:relative;}
.banner .bd{height:640px;}
.banner .bd li{height:640px;}
.banner .bd li a{display:block;width:100%;height:100%;}
.banner .bd li .text1{font-size:50px;color:#26B9FF;font-family:arial;text-align:center;line-height:52px;padding-top:240px;}
.banner .bd li .text2{font-size:30px;color:#fff;font-family:arial;text-align:center;line-height:42px;padding-top:20px;}
.banner .hd{height:20px;width:100%;position:absolute;left:0;bottom:30px;text-align:center;}
.banner .hd li{width:55px;height:3px;background:rgba(225,225,225,0.4);display:inline-block;text-indent:-999999px;margin:0 8px;cursor:pointer;border-radius:1px;}
.banner .hd li.on{background:rgba(225,225,225,1);}

/*banner2*/
.banner2{height:420px;width:100%;background:#000;overflow:hidden;position:relative;}
.banner2 .bd{height:420px;}
.banner2 .bd li{height:420px;}
.banner2 .bd li a{display:block;width:100%;height:100%;}
.banner2 .bd li .text1{font-size:35px;color:#26B9FF;text-align:center;line-height:52px;padding-top:190px;}
.banner2 .bd li .text2{font-size:20px;color:#fff;text-align:center;line-height:42px;padding-top:10px;}
.banner2 .hd{height:20px;width:100%;position:absolute;left:0;bottom:30px;text-align:center;}
.banner2 .hd li{width:55px;height:3px;background:rgba(225,225,225,0.4);display:inline-block;text-indent:-999999px;margin:0 8px;cursor:pointer;border-radius:1px;}
.banner2 .hd li.on{background:rgba(225,225,225,1);}

/*menu*/
.menu{height:60px;position:absolute;left:0;top:0;z-index:1;width:100%;border-bottom:1px solid rgba(225,225,225,0.08)}
.menubox{padding:0 50px;height:60px;}
.menubox .logo{float:left;height:60px;}
.menubox .logo>a{display:block;vertical-align:middle;height:60px;line-height:60px;}
.menubox .logo>a img{  width:150px;height: 40px;}
.menubox ul{float:right;padding:15px 0;overflow:hidden;}
.menubox li{float:left;font-size:16px;color:#9BAFC3;margin-left:40px;}
.menubox li>a{display:block;line-height:30px;color:#9BAFC3;}
.menubox li.end>a{padding-right:20px;background:url(../images/up.png) no-repeat right center;}
.menubox li.end{padding-bottom:20px;}
.menubox li.end:hover .son{display:block;}
.menubox li.end:hover>a{color:#fff;}
.menubox .son{display:none;width:150px;background:#fff;border-radius:3px;overflow:hidden;position:absolute;right:0;top:30px;right: 48px;top: 50px;}
.menubox .son a{line-height:58px;height:58px;display:block;width:100%;text-align:center;border-bottom:1px solid #eee;transition: all .35s ease}
.menubox .son a:hover{background:#f5f5f5;transition: all .35s ease;color:#357CFF;}

/*footer*/
.footer{background:#0F1629;padding-top:60px;position:relative;}
.footer .f1{float:left;}
.footer .f1 .logo{margin-bottom:40px; width:150px;height: 40px;}
.footer .f1 .text1{height:22px;line-height:22px;color:#9BAFC3;font-size:12px;}
.footer .f1 ul{margin-top:25px;}
.footer .f1 ul li{width:35px;height:35px;float:left;margin-right:20px;transition: all .35s ease;}
.footer .f1 ul img{width:30px;height:30px;}
.footer .f1 ul li a{display:block;width:100%;height:100%;line-height:35px;text-align:center;font-size:23px;color:#9BAFC3;}
.footer .f1 ul li a:hover{color:#000;}
.footer .f2{float:right;}
.footer .f2 dl{margin-left:120px;font-size:16px;line-height:22px;float:left;}
.footer .f2 dl dt{padding-bottom:20px;color:#fff;}
.footer .f2 dl dd a{display:block;color:#9BAFC3;padding:10px 0;transition: all .35s ease;}
.footer .f2 dl dd a:hover{color:#fff;transition: all .35s ease;}
.footer .f3{border-top:1px solid #242D40;margin-top:30px;overflow:hidden;padding:30px 0;}
.footer .f3 span{display:block;font-size:14px;line-height:24px;color:#9BAFC3;}
.footer .f3 span.s1{float:left;}
.footer .f3 span.s2{float:right;}

/*totop*/
.totop{width:35px;height:35px;background:#fff url(../images/totop.png) no-repeat center;right:50px;bottom:50px;border-radius:3px;position:absolute;cursor:pointer;transition: all .35s ease;}
.totop:hover{transition: all .35s ease;}

/*sonnav*/
.sonnav{height:60px;box-shadow: 0 0 15px rgba(0,0,0,0.06);background:#fff;}
.sonnav li{font-size:18px;float:left;line-height:60px;text-align:center;display:block;width:16.66666%;}
.sonnav a{color:#41475E;}
.sonnav a:hover{color:#357CFF;}
.sonnav li.on{color:#357CFF;border-bottom:1px solid #357CFF;}
.sonnav li.on a{color:#357CFF;}
.sonnav1 li{width:14.285%;}
.sonnav.fixed{position:fixed;left:0;top:0;width:100%;}

/*title*/
.title{width:1200px;margin:0 auto;text-align:center;padding:30px 0;}
.title h2{font-size:35px;color:#41475D;font-weight:normal;line-height:50px;margin-bottom:17px;}
.title p{font-size:20px;color:#41475D;line-height:26px;}

/*list1*/
.list1{text-align:center;}
.list1 li{width:170px;display:inline-block;margin:10px 30px;}
.list1 .img{width:118px;height:118px;margin:0 auto;background-size:cover !important;}
.list1 .img img{width:100%;height:100%;}
.list1 h2{font-size:20px;line-height:30px;text-align:center;font-weight:400;color:#41475D;margin-top:20px;text-align:center;}

/*list2*/
.list2{text-align:center;}
.list2 li{width:450px;height:380px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,0.05);display:inline-block;margin:0 48px;border-radius:5px;overflow:hidden;}
.list2 li .img{width:100%;height:280px;}
.list2 li .img img{width:100%;height:100%}
.list2 li h2{line-height:40px;text-align:center;font-size:25px;color:#41475D;font-weight:normal;padding:30px 0;}

/*list3*/
.list3{text-align:center;margin-bottom:40px;}
.list3 li{width:280px;height:280px;display:block;border-radius:5px;overflow:hidden;margin:0 180px 0 0;float:left;transition: all .35s ease;}
.list3 li.li3,.list3 li.li6{margin-right:0;transition: all .35s ease;}
.list3 li .img{width:160px;height:160px;margin:0 auto;margin-top:30px;transition: all .35s ease;}
.list3 li .img span{display:block;width:160px;height:160px;vertical-align:middle;line-height:160px;transition: all .35s ease;}
.list3 li .img img{max-width:100%;max-height:100%}
.list3 li h2{line-height:40px;text-align:center;font-size:20px;color:#41475D;font-weight:normal;padding:10px 0;transition: all .35s ease;}
.list3 li p{display:none;transition: all .35s ease;}
.list3 li:hover{background:#fff;box-shadow:0 0 5px rgba(0,0,0,0.05);transition: all .35s ease;}
.list3 li:hover .img{width:80px;height:80px;transition: all .35s ease;}
.list3 li:hover .img span{width:80px;height:80px;line-height:80px;transition: all .35s ease;}
.list3 li:hover h2{display:none;transition: all .35s ease;}
.list3 li:hover p{line-height:28px;font-size:16px;padding:20px;display:block;transition: all .35s ease;}

/*list4*/
.list4{overflow:hidden;padding:40px 0 130px 0;}
.list4 li{width:450px;height:489px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,0.05);display:inline-block;margin:0 74px;border-radius:5px;overflow:hidden;transition: all .35s ease;}
.list4 li .img{width:100%;height:280px;}
.list4 li .img img{width:100%;height:100%}
.list4 li .text{padding:40px 30px;}
.list4 li .text h2{font-size:24px;font-weight:normal;line-height:26px;}
.list4 li .text .txt{font-size:18px;line-height:26px;padding-top:20px;}
.list4 li .alink{text-align:right;margin-top:15px;}
.list4 li .alink em{font-size:16px;}
.list4 li .alink em:hover{color:#357BFF;}
.list4 li:hover{transition: all .35s ease;position:relative;top:-10px;}


/*block1*/
.block1{padding-top:85px;border-bottom:1px solid #DCE3EB;}
.block1 li{margin:10px 90px;}
.block1 .list1{margin-top:40px;padding-bottom:110px;}

/*block2*/
.block2{padding-top:60px;}
.block2 .list2{padding-top:50px;padding-bottom:120px;}

/*block3*/
.block3{padding-top:85px;border-bottom:1px solid #DCE3EB;}
.block3 li{margin:10px 90px;}
.block3 .list1{margin-top:40px;padding-bottom:110px;}

/*block4*/
.block4{padding-top:60px;}
.block4 .list2{padding-top:50px;padding-bottom:120px;}
.block4 .list2 li{width:370px;float:left;margin-left:0;margin-right:45px;}
.block4 .list2 li.li3{margin-right:0;}


/*block5*/
.block5{border-top:1px solid #E5E5E5;padding:30px 0;}
.block5 .item{width:1200px;height:320px;border-radius:5px;overflow:hidden;margin:0 0 80px 0;cursor:pointer;box-shadow: 0 0 5px rgba(0,0,0,0.05);}
.block5 .item .txt{width:500px;height:320px;background:#fff;padding:0 50px;float:left;display:table;}
.block5 .item .txt .h2{font-size:30px;line-height:40px;height:40px;color:#41475D;}
.block5 .item .txt p{font-size:20px;color:#41475D;margin-top:15px;line-height:28px;}
.block5 .item .img{width:600px;height:320px;float:right;}
.block5 .item .img img{width:100%;height:100%;}
.block5 .item:nth-child(odd) .img{float:left;}
.block5 .item:nth-child(odd) .txt{float:right;}
.block5 .txtbox{display:table-cell;vertical-align:middle;}

/*block6*/
.block6{padding:60px 0;background:#fff;}

/*block7*/
.block7{padding-top:60px;background:#F7F9FC;}


/*block8*/
.block8{background:#FFF;padding:60px 0;}
.block8 .bd{overflow:hidden;height:240px;}
.block8 li{overflow:hidden;}
.block8 li .single{width:20%;float:left;height:120px;}
.block8 li  a{display:block;height:120px;vertical-align:middle;line-height:120px;text-align:center;}
.block8 .hd{height:20px;width:100%;text-align:center;padding:20px 0;margin-top:20px;}
.block8 .hd li{width:55px;height:5px;background:#D2D7DD;display:inline-block;text-indent:-999999px;margin:0 8px;cursor:pointer;border-radius:1px;}
.block8 .hd li.on{background:#347AFC;}


/*home*/
#home .section1{background:url(../images/home1.jpg) no-repeat center;background-size:cover;}
#home .section2{background:url(../images/home2.jpg) no-repeat center;background-size:cover;}
#home .section3{background:url(../images/home3.jpg) no-repeat center;background-size:cover;}
#home .section4{background:url(../images/home4.jpg) no-repeat center;background-size:cover;}
#home .copyright{height:25px;line-height:25px;color:rgba(225,225,225,0.5);font-size:14px;font-family:arial;position:fixed;left:10px;bottom:10px;z-index:10;}
#home .sectionon{position:fixed;right:0;top:50%;z-index:11;margin-top:-44px;}
#home .sectionon a{display:block;padding:10px 20px;position:relative;width:30px;}
#home .sectionon a .e1{width:15px;height:2px;background:#fff;display:block;transition: all .35s ease;}
#home .sectionon a .e2{display:none;transition: all .35s ease;}
#home .sectionon a.active .e1{width:30px;background:#25B9FF;transition: all .35s ease;}
#home .sectionon a.active .e2{position:absolute;font-size:14px;font-family:arial;color:#fff;left:-2px;top:4px;display:block;transition: all .35s ease;}
#home .zhongjian{width:100px;font-size:15px;color:#fff;font-family:arial;position:fixed;bottom:0;left:50%;margin-left:-50px;padding-bottom:35px;text-align:center;z-index:20;}
#home .zhongjian::before{width:1px;height:25px;position:absolute;left:50%;bottom:0;background:#fff;content:"";display:block;}
#home .sectionlink{margin-top:30px;display:block;width:200px;height:50px;line-height:50px;font-size:20px;border-radius:25px;background:#25B9FF;color:#fff;text-align:center;font-family:arial;}
#home .section1 .text1{font-size:60px;color:#fff;text-align:center;line-height:66px;position:relative;padding-bottom:30px;}
#home .section1 .text1::before{width:90px;height:2px;position:absolute;left:50%;margin-left:-45px;bottom:0;background:#25B9FF;content:"";display:block;}
#home .section1 .text2{font-size:25px;color:#fff;text-align:center;line-height:42px;padding-top:28px;}
#home .section1 .sectionlink{margin:30px auto 0 auto;}
#home .sectiocom1 .textbox{padding:0 80px;}
#home .sectiocom1 .text1{font-size:60px;color:#fff;line-height:85px;position:relative;padding-bottom:10px;}
#home .sectiocom1 .text2{font-size:20px;color:#fff;line-height:42px;padding-top:10px;}
#home .sectiocom1 .text3{font-size:20px;color:#fff;line-height:42px;padding-top:10px;}
#home .sectiocom1 .text3 span{margin-right:10px;}
#home .sectiocom1 .text3 span font{color:#44C2FE;margin-right:5px;}
#home .menu2{height:60px;position:fixed;left:0;top:0;z-index:1;width:100%;}
#home .menu2 .menubox2{padding:0 50px;height:60px;}
#home .menu2 .menubox2 .logo{float:left;height:60px;}
#home .menu2 .menubox2 .logo>a{display:block;vertical-align:middle;height:60px;line-height:60px;}
#home .menuopen{float:right;font-size:20px;color:#fff;line-height:60px;padding-right:43px;background:url(../images/open.png) no-repeat right center;cursor:pointer;}


/*侧栏导航*/
.sidebarmenu{height:100%;width:0%;position:fixed;background:rgba(0,0,0,0.2);right:0;top:0;z-index:30;overflow:hidden;transition:all 0.3s ease 0s;opacity:0;}
.sidebarmenu.open{width:440px;transition:all 0.3s ease 0s;opacity:1;}
.sidebarmenu .sidebarmenubox{width:440px;height:100%;position:absolute;right:0;top:0;background:#000;}
.sidebarmenu .sidebarmenuboxcontent{height:100%;}
.sidebarmenu .divtable{display:table;width:100%;height:100%;}
.sidebarmenu .divtablecell{display:table-cell;width:100%;height:100%;vertical-align:middle;}
.sidebarmenu .divtablecell .contentbox{display:inline-block;width:100%;}
.sidebarmenu .close{width:100px;height:40px;display:block;position:absolute;right:5%;top:3%;background:url(../images/close.png) no-repeat center;}
.sidebarmenu .li{height:50px;margin:8% 0;}
.sidebarmenu .li a{font-size:25px;color:#fff;padding-left:20%;transition:all 0.3s ease 0s;}
.sidebarmenu .li a:hover{padding-left:25%;transition:all 0.3s ease 0s;}
.sidebarmenu .li .text{float:left;}
.sidebarmenufoot{position:absolute;left:0;bottom:5%;width:100%;}
.sidebarmenufoot p{color:#666;line-height:26px;padding:20px 20%;font-size:13px;}
.sidebarmenufoot ul{margin-top:15px;overflow:hidden;margin-left:20%;}
.sidebarmenufoot ul li{width:35px;height:35px;float:left;margin-right:20px;border-radius:50%;transition: all .35s ease;}
.sidebarmenufoot ul li:hover{background:#fff;border-color:#fff;cursor:pointer;transition: all .35s ease;}
.sidebarmenufoot ul li a{display:block;width:100%;height:100%;line-height:35px;text-align:center;font-size:23px;color:#fff;}
.sidebarmenufoot ul li a:hover{color:#000;}